*{
    margin: 0%;
    padding: 0%;
}
body{
    font-family: "Cormorant SC", serif;
    background: #FFFFFF;
}
.banner{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 100px 0px ;
    gap: 68px;

}
.banner .heroImg{
    width: 487px;
    height: 737px;
}

.subTitle{
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    color: #FF3147;
    margin-bottom: 39px;
}
.title{
    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: #000000;  
}
.hero-contet{
    font-size: 16px;
    width: 584px;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 75px;
}
.hero-btn{
    background-color: #FF3147;
    letter-spacing: 1.4px;
    padding: 15px 20px;
    font-weight: 14px;
    border: none;
    border-radius: 2px;
    color: #FFFFFF;
}